
  <main class="w-full max-w-lg p-6 bg-white shadow-lg rounded-2xl mx-auto my-0">
      <h1 class="text-2xl font-semibold text-gray-700 mb-4">Subir Excel</h1>
      <form [formGroup]="excelForm" enctype="multipart/form-data">


          <div class="mb-4">
              <label class="block text-gray-600 text-sm font-medium" for="imagen">Archivo CSV</label>
              <input
              accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
              type="file" formControlName="excel" id="imagen" class="w-full p-3 mt-1 border rounded-lg focus:ring focus:ring-blue-300" placeholder="Seleccione la imagen" required>
          </div>


          <button type="button" class="w-full p-3 bg-[#fff8e1] rounded-lg" (click)="validateForm()" appButtonAnimation>Guardar</button>
      </form>
  </main>


